body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 2rem 6rem;
  font-family: Inter, sans-serif;
}

.titelForBlock{
  font: 700 1.4rem / 2.2rem Inter, sans-serif;
  margin-bottom: 2rem;
}

.forecastLine{
  height: 300px;
}

.forecastLine2{
  height: 300px;
  width: 100%;
  padding: 25px 0;
}

.downLine{
  margin-top: 55px;
}
